.post-job-container {
    background-color: #f9f9f9;
    padding: 50px 0;
}

.custom-tabs .ant-tabs-nav {
    margin-bottom: 24px;
}

.custom-tabs .ant-tabs-tab {
    font-size: 16px;
    font-weight: 600;
    padding: 12px 16px;
    color: #333;
}

.custom-tabs .ant-tabs-tab-active {
    color: #FFD700;
    border-bottom: 2px solid #FFD700;
}

.custom-tabs .ant-tabs-ink-bar {
    background-color: #FFD700;
}

.ant-form-item-label > label {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.ant-input, .ant-select-selector, .ant-textarea {
    border-radius: 8px;
    padding: 10px;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.next-button, .previous-button, .post-button {
    width: 100%;
    background-color: #FFD700;
    border-color: #FFD700;
    border-radius: 30px;
    padding: 0px;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.next-button:hover, .previous-button:hover, .post-button:hover {
    background-color: #FFC107;
    border-color: #FFC107;
}
